# Miscellaneous
*.class
*.log
*.pyc
*.swp
.buildlog/
.history/

# Flutter/Dart/Pub
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/

# Android Studio
.idea/
*.iml
android/local.properties

# VS Code
.vscode/

# Firebase (important)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Generated
**/doc/api/
app.*.symbols
android/app/google-services.json